TODO: for web browser users, try to allow multiple criteria search <br/>
<%= form_tag(:action => "handle_barcode_search") do | f| %>
... TODO: add basic validator
  <div>
     <%= label_tag "Barcode For Search",  %>
     <%= text_field_tag :barcode %> 
     <%= submit_tag "Search", :class => "actions" %>
  </div>
 <% end %>